@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-image: url(imagenes/Rectangle.png) ;
    
}
header{
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    font-family: "Handlee", serif;
    font-weight: 700;
    font-style: normal;
    background-image: url(imagenes/rect1.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.mg-1{
  width:700px ;
  height: 122px;
  z-index:0 ;
  position: absolute; 
}
.header_div{
  z-index: 3;
  display: flex;
  align-items: center;
}

a{
  color: rgb(228, 25, 126);
  padding-right:10px ;
  text-decoration: none;
}

@media (max-width: 480px) {
  
  header{
    display: block;
  }
  .mg-1{

    width:  50%;
    z-index: 1;
    height: 143px;
    
  }
  .header_div , header a{
    position: relative;   
    z-index:  2;
  }
}
@media (max-width: 767px) {
  .mg-1{
    width: 400px;
  }
  .header_div , header a{
    position: relative;   
    z-index:  2;
  }

}
